body, html{
  height:100%;
}

html, body {
  padding: 0;
  margin: 0;
  overflow:hidden;
}

/*canvas {
  height: 100%;
}*/


canvas {
  height: 100%;
}


body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.emojispinner{
  animation: spinner 4.5s infinite alternate ease-in-out;
  width: 50px;
  height: 50px;
  background: url('http://orig07.deviantart.net/ea15/f/2014/213/7/4/spinning_awesome_face_by_centaury0-d7tadc3.gif') center center;
  background-size: contain;
  border-radius:10px;
  position:absolute;
}



@keyframes spinner {
  100% {
    transform: rotate(3600deg);
  }
}

@keyframes rot {
  from {
    transform: rotate(0deg)
               translate(-50px)
               rotate(0deg);
  }
  to {
    transform: rotate(360deg)
               translate(-50px)
               rotate(-360deg);
  }
}


/*.parrotDancer {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('https://ih0.redbubble.net/image.333681925.4428/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1u1.jpg') center center;
  background-size: contain;
  transition-origin: 50% 50%;
  animation: spinner 3s infinite alternate ease-in-out;
}*/


.parrotDancer{
  animation: rot 0.5s infinite linear;
  width: 50px;
  height: 50px;
  background: url('https://ih0.redbubble.net/image.333681925.4428/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1u1.jpg') center center;
  background-size : contain;
  border-radius:10px;
  position:absolute;
}

/*
#audio {
  margin-left:
  display: flex;
   align-self: flex-end;
  height: 100%;
}*/
