body, html{
  height:100%;
}

html, body {
  padding: 0;
  margin: 0;
  overflow:hidden;
}

canvas {
  height: 100%;
}
/*canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background:#000;
  cursor: pointer;
}*/


body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.emojispinner{
  animation: spinner 4.5s infinite alternate ease-in-out;
  width: 50px;
  height: 50px;
  background: url('http://orig07.deviantart.net/ea15/f/2014/213/7/4/spinning_awesome_face_by_centaury0-d7tadc3.gif') center center;
  background-size: contain;
  border-radius:10px;
  position:absolute;
}



@keyframes spinner {
  100% {
    transform: rotate(3600deg);
  }
}

@keyframes rot {
  from {
    transform: rotate(0deg)
               translate(-25px)
               rotate(0deg);
  }
  to {
    transform: rotate(360deg)
               translate(-25px)
               rotate(-360deg);
  }
}


/*.parrotDancer {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('https://ih0.redbubble.net/image.333681925.4428/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1u1.jpg') center center;
  background-size: contain;
  transition-origin: 50% 50%;
  animation: spinner 3s infinite alternate ease-in-out;
}*/


.parrotDancer{
  animation: rot 0.35s infinite linear;
  width: 50px;
  height: 50px;
  background: url('https://ih0.redbubble.net/image.333681925.4428/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1u1.jpg') center center;
  background-size : contain;
  border-radius:10px;
  position:absolute;
}

#audio {
  position: absolute;
  bottom: 0;

}

.bdancer {
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 50%;
  background: url('https://ih0.redbubble.net/image.333681925.4428/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1u1.jpg') center center;
  top: 50px;
  left: 50px;
  animation-name: bouncing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bdancer {
  background: url('https://media.giphy.com/media/JltOMwYmi0VrO/giphy.gif') center center;
  /*background-image: linear-gradient(to right,
      rgba(0, 0, 0, .9) 25%,
      rgba(0, 0, 0, .1) 50%,
      rgba(0, 0, 0, .9) 75%);*/
  color: white;
  height: 100%;
  width: 20%;

  -webkit-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
